body{
  background: yellow;
}
/*  showing padding & border */
table{
  padding: 50px;
  border-top: dashed;
  border-bottom: dotted;
}
/*  showing margin */
ol{
  margin-left: 10%;
}
/*  centered element */
footer{
  text-align: center;
  min-width: 500px;
}
/*  background image & font */
li{
  background: linear-gradient( grey, white);
  font: Verdana, Arial, Sans-serif;
}
/*  elements styled using a class */
.greentext{
  font-family: monospace;
  color: green;
}
/*  different color for visited links */
/* A.LinkColor {color: green;} */
A.LinkColor:link {color: green;}
A.LinkColor:visited {color: red;}
A.LinkColor:active {color: green;}
A.LinkColor:hover {text-decoration: underline overline; color: blue;}
/*  element styled with an ID */
#Chester {
  font-size: x-large;
  font-weight: bold ;
  color: pink;
}
/*  one media query to improve the responsiveness */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

  }